<div class="jumbotron">
  <h1>Clever Maps bike commuters</h1>

  <p class="lead">
    Charts, routes and statistics of bike commuting in CleverMaps team.
  </p>

  <ul class="list-inline social-buttons">
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=mattesCZ&amp;repo=cm-bikers-client&amp;type=watch&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="110" 
        height="20">
      </iframe>
    </li>
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=mattesCZ&amp;repo=cm-bikers-client&amp;type=fork&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="95" 
        height="20">
      </iframe>
    </li>
  </ul>

  <div class="btn-group">
    <a href="https://github.com/mattesCZ/cm-bikers-client#readme" class="btn btn-large btn-default">
      <i class="fa fa-book"></i>
      Read the Docs
    </a>
    <a href="https://github.com/mattesCZ/cm-bikers-client" class="btn btn-large btn-success">
      <i class="fa fa-download"></i>
      Download
    </a>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3>Top bikers</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info row">
        <span class="col-md-3">First name</span>
        <span class="col-md-3">Last name</span>
        <span class="col-md-3">Total rides</span>
        <span class="col-md-3">Total distance</span>
      </li>
      <cmb-biker-info-row ng-repeat="biker in ::bikers | orderBy:'-total_distance'" ng-model="biker"></cmb-biker-info-row>
    </ul>
  </div>
</div>
