<div class="jumbotron">
  <h1>Clever Maps bike commuters</h1>

  <p class="lead">
    Charts, routes and statistics of bike commuting in CleverMaps team.
  </p>

  <div class="btn-group">
    <a class="btn btn-large btn-success">
      <i class="fa fa-bicycle"></i>
      Add RIDE
    </a>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3>Top bikers</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info row">
        <span class="col-md-3">First name</span>
        <span class="col-md-3">Last name</span>
        <span class="col-md-3">Total rides</span>
        <span class="col-md-3">Total distance</span>
      </li>
      <cmb-biker-info-row ng-repeat="biker in ::bikers | orderBy:'-total_distance'" ng-model="biker"></cmb-biker-info-row>
    </ul>
  </div>
</div>
